

/* Mobile */

body {margin: 0;
      padding: 0;}

@media screen and (min-width: 320px) and (max-width: 779px)

{

.logo0 {width: 135px;
        margin-top: 9px;
        margin-left: 33px;
        float: left;}

.version-wheel {float: right;
                width: 45%;
                margin-bottom: 33px;
                position: relative;
                z-index: 0;}

/* hamburger menu*/

.navbar li {list-style: none;}

.navbar {z-index: 1;}

.navbar__left {margin-top: -140px;} /*Removes extra space from top hamburger menu*/

.final-link {margin-bottom: 20px;}

ul {padding: 0;}

.link-left,
.link-right,
.white-logo__container {display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        width: 100%;}

/* Style the navigation menu */
.navbar {background-color: #1b2937;
         position: relative;}

/* Hide the links inside the navigation menu (except for logo/home) */
.navbar .myLinks {display: none;}

/* Style navigation menu links */
.navbar a {color: white;
           padding: 14px 16px;
           text-decoration: none;
           font-size: 24px;
           display: inline-block;}

/* Style the hamburger menu */
a.icon {display: block;
        position: absolute;
        right: 0;
        font-size: 30px;
        padding-right: 22px;
        padding-top: 19px;}

.fa-bars {color: grey;}

/* Starting main*/

.showcase__content__h {padding-top: 150px;
                       margin-top: 0;
                       margin-left: 22px;}

.showcase__content__p {font-size: 21px;
                      color: #717274;
                      margin-left: 22px;}

.partners__logos__row1,
.partners__logos__row2 {display: flex; flex-flow: row nowrap; justify-content: space-around; align-items: center;}

.partners__logos__row1 {margin-top: 20px;}

.partners__logos__row2 {margin-bottom: 40px;}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6,
.logo7 {width: 60px;}

.btns-top {display: flex; flex-flow: column nowrap; align-items: center;}

.btn-top {text-decoration: none;
          background-color: #5bc399;
          padding: 24px 70px;
          color: white;
          border-radius: 5px;
          margin: 10px 0;}

.code-screen {width: 80%;}

.control-code__screen {text-align: center; padding: 42px 0 37px 0;}

.control-code { background-color: #17283a;}

.control-code__content {background-color: #17283a;
                        color: white;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        margin: 0 20px;}

.control-code__content__h {font-size: 28px;}

.control-code__content__p {line-height: 28px;}

.btn-trans {color: #5bc399;
            text-decoration: none;
            align-self: flex-start;
            border: 2px solid #5bc399;
            padding: 17px 29px;
            margin: 36px 0 46px 0;
            border-radius: 5px;}

.btn-trans:active {color: white;
                   background-color: #5bc399;}

.control-process__content__h {font-size: 24px;}

.control-process__content__p {font-size: 18px; color: #717274;}

.control-process__content {margin: 40px 20px 50px;}

.execution {width: 84%;}

.control-process__image {text-align: center;}

.icon-main {width: 160px;}

.standardize-wrapper {display: flex;
                      flex-flow: column nowrap;
                      align-items: center;
                      padding: 60px 40px 80px;
                      text-align: center;
                      line-height: 28px;
                      background-color: #f7f7f7;}

.standardize-wrapper p {color: #9e9ea7;}

.btn-standardize {color: white;
                  padding: 23px 28px;
                  background-color: #5bc399;
                  border: none;
                  border-radius: 5px;}

.hood-wrapper {display: flex;
                      flex-flow: column nowrap;
                      align-items: center;
                      padding: 60px 40px 80px;
                      line-height: 28px;}

.hood-wrapper p {color: #9e9ea7;}

.hood__content__h {align-self: flex-start;}

.btn-hood {color: white;
           padding: 23px 30px;
           background-color: #5bc399;
           border: none;
           border-radius: 5px;
           align-self: flex-start;}

.circle {width: 100%; }

.circle-wrapper {text-align: center;
                 margin-top: 29px;}

.case-wrapper {display: flex;
               flex-flow: column nowrap;
               align-items: center;
               padding: 60px 40px 80px;
               line-height: 28px;
               background-color: #f7f7f7;}

.goals {width: 117%;}

.case__content__h {align-self: flex-start;
                   font-size: 21px;}

.btn-case {color: white;
           padding: 23px 30px;
           background-color: #5bc399;
           border: none;
           border-radius: 5px;
           align-self: flex-start;}







}
